{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2><p align="center"><b>ОБЪЕДИНЕНИЕ ФАБРИК ДОКТОРА РАЗВЛЕЧУДОВА ПРЕДСТАВЛЯЕТ ПЕРВЫЙ В МИРЕ ОНЛАЙН-МАГАЗИН НАШИХ ЗНАМЕНИТЫЙ НА ВЕСЬ МИР ИГРУШЕК</b></p></h2>
    <h3><p align="center">МЫ ЗАМЕТИЛИ ЧТО НЕКОТОРЫЕ КОМПАНИИ(ВЕРОЯТНО НАНЯТЫЕ НАШИМИ КОНКУРЕНТАМИ) ПОСТОЯННО ПЕРЕХВАТЫВАЮТ НАШИ ТОВАРЫ.</p>
    <p align="center">СКОЛЬКО МЫ НЕ ПЫТАЛИСЬ ВЕРНУТЬ СЕБЕ НАШУ ПРОДУКЦИЮ, ЧТОБЫ ВЫ НАКОНЕЦ СМОГЛИ НАСЛАДИТЬСЯ ИГРОЙ, ВСЁ БЫЛО ТЩЕТНО.</p>
    <p align="center">ИМЕННО ПОЭТОМУ ДОКТОР РАЗВЛЕЧУДОВ ПРИНЯЛ РЕШЕНИЕ ПЕРЕНЕСТИ ТОРГОВЛЮ НА ПРОСТОРЫ ГЛОБАЛЬНОЙ СЕТИ.</p>
    <p align="center">ТЕПЕРЬ ВЫ МОЖЕТЕ ОФОРМИТЬ ЗАКАЗ НА ИГРУШКИ СВОЕЙ МЕСТЫ НА ЭТОМ ЧУДЕСНОЙ САЙТЕ.</p>
    <p align="center">ПОДДЕРЖИВАЕТСЯ ОПЛАТА НАЛИЧНЫМИ ВАЛЮТАМИ ВСЕГО МИРА. ТАКЖЕ ВОЗМОЖНО ОПЛАТИТЬ КАРТОЙ ЛЮБОГО БАНКА.</p>
    <p align="center">ОПЛАТА НЕКОТОРЫЙ ТОВАРОВ МОЖЕТ ПРОИЗВОДИТСЯ ИНЫМ СПОСОБОМ. НО ОБ ЭТОМ КАК НИБУДЬ В ДРУГОЙ РАЗ.</p>
        <p align="center">УДАЧНЫХ ПОКУПОК!</p></h3>
    <h6><br>P.S.Для тех тварей, что постоянно обрубают нам пути сбыта. Я знаю, что вы когда-нибудь найдете этот сайт.
    <br>Отвяжитесь. Я не мешаю вам делать ваше дело, хоть ваша деятельность и осложняет мой промысел, и вы будьте любезны не мешайте мне!
    <br>Иначе следующими товарами на этом сайте, станут изделия, сделанный из ваших частей, или из ваших близких. Я надеюсь мы поняли друг друга.
    </h6>
</div>
{% endblock %}