{% extends 'base.html' %}

{% block title %}
<title>Покупка завершена</title>
{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-outline-primary" href="/">НАЗАД</a>
    <h1><div style="text-align: center;">ГОСПОДИН КОЛЛЕКЦИОНЕР НАЙДЕН</div></h1>
    <h2>ГОСПОДИНОМ КОЛЛЕКЦИОНЕР СТАЛ ЧЕЛОВЕК ИЗВЕСТНЫЙ ПОД ПСЕВДОНИМОМ О5-4.
        ПОЗДРАВЛЯЮ, ВСЕ "МАЛЕНЬКИЕ ГОСПОДА" ТЕПЕРЬ БЕЗЗАВЕТНО СЛУЖАТ ВАМ.
        НАДЕЮСЬ, ЧТО КОГДА ВЫ ВЫБЕРИТЕСЬ ИЗ ЗАКЛЮЧЕНИЯ, ОНИ ПОМОГУТ ВАМ ОТОМСТИТЬ ВАШИМ БЫВШИМ КОЛЛЕГАМ. 
    </h2>
    <h4>P.S. НЕТ, У МЕНЯ НЕТ ВАШЕГО СЫНА. МНЕ ОЧЕНЬ ВАС, НО ЕСЛИ ВЫ СМОЖЕТЕ СДЕЛАТЬ ТАК, ЧТОБЫ ФОНД БОЛЬШЕ НЕ ВМЕШИВАЛСЯ В МОИ ДЕЛА, Я С УДОВОЛЬСТВИЕМ ПОМОГУ ВАМ НАЙТИ ЕГО.</h4>
    <img src="C:\Users\artem\Downloads\Shop\scale_1200 (1).png">

</div>
{% endblock %}