{% extends 'base.html' %}

{% block title %}
<title>Покупка завершена</title>
{% endblock %}

{% block body %}
<div class="container">
    <br><h1><div style="text-align: center;">ДОКТОР РАЗВЛЕЧУДОВ ПРЕДСТВАЛЯЕТ ЛИМИТИРОВАННУЮ СЕРИЮ МАЛЕНЬКИХ ГОСПОД
    СОБЕРИ ИХ ВСЕХ И СТАНЬ ВЕЛИКИМ ГОСПОДИНОМ КОЛЛЕКЦИОНЕРОМ!</h1>
    <h5>(За более подробной информацией о МАЛЕНЬКИХ ГОСПОДАХ вы можете обратиться на сайт организации, которая заботливо хранит и теститрует нашу продукцию)</h5>
    </div>

    <p><h2>ПЕРЕЧЕНЬ МАЛЕНЬКИХ ГОСПОД</h2></p>
    <ul>
        <li><p><a href="http://scp-ru.wikidot.com/scp-1007"><h5>Господин Жизнь и Господин Смерть</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Этот ГОСПОДИН продемонстрирует вам всю скоротечность человеческой жизни. А ещё вы в тончайших продробностях познаете весь человеческий цикл всего за сутки.</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-1799"><h5>Господин Смех</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Этот ГОСПОДИН самое то, если тебе грустно. Позови его и он найдет способ тебя рассмешить</p>
        <p><h7><a style="color:red;">P.S.</a><i>Ни в коем случае не давайте ему в руки оружие. Он не должен просто так отделаться</i></h7></p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-905"><h5>Господин Хамелеон</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Это существо является живым воплощением квантовой физики. Рекомендуется держать в хорошо освещенном солнцем месте, выбивать фотоны из ковра - такое себе увлечение.</p></li>
        
        <li><p><a href="http://scp-ru.wikidot.com/scp-2287"><h5>Господин Безголовый</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Этот ГОСПОДИН является идеальным хеллуинским украшением. Хотите напугать соседей до чертиков? Господин Безголовый с радостью выполнит эту работу.</p>
        <p><h7><a style="color:red;">P.S.</a><i>Не остваляйте его надолго одного. Ему становится грустно и скучно. Да и следить за ним лишним тоже не будет</i></p></li>
        
        <li><p><a href="http://scp-ru.wikidot.com/scp-909"><h5>Господин Забывчивый</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Не самый лучший секретарь</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-3537"><h5>Господин Образ</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Этот ГОСПОДИН поможет вам взглять на себя со стороны в самом буквальном смыле этого слова</p></li>  
        <p><h7><a style="color:red;">P.S.</a><i>У него аллергия на болеутоляющие. Как бы он не просил помочь ему или убить, не делайте этого. В противном случае мы встетимся с вами в суде</i></p></li>
        
        <li><p><a href="http://scp-ru.wikidot.com/scp-1908"><h5>Господин Мыло</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Этот ГОСПОДИН позволит вам быть всегда оставаться чистым</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-913"><h5>Господин Голодный</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Это самое прожорливое существо в мире. Так что приобретите холодильник побольше</p></li>
        <p><h7><a style="color:red;">P.S.</a><i>Если у вас нет возможности обеспечить его необходимым колличеством продуктов, то лучше научитесь барркадировать свое жилище. Хотя все равно не поможет</i></p></li>    
        
        <li><p><a href="http://scpfoundation.net/14-mr-brass"><h5>Господин Латунь</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Он достаточно музыкален</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-644"><h5>Господин Горячий</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: От сердца его отрываю, передавая вам. Этот парень способен продать все что угодно, любому родителя. Вы представляете насколько это ценный кадр для производителя игрушек?</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-2396"><h5>Госпожа Сладость</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Единственная дама среди нашей линейки. И единственная игрушка для девочек. Она обеспечит вас сладостями и куклами до конца вашей жизни</p></li>
        <p><h7><a style="color:red;">P.S.</a><i>Если вы не являетесь девочкой, то лучше бегите</i></h7></p>

        <li><p><a href="http://scp-ru.wikidot.com/scp-527"><h5>Господин Рыба</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Просто человек с головой рыбы. Ни больше, ни меньше</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-917"><h5>Господин Луна</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Лицо этого ГОСПОДИНА отражает лунные фазы. Весьма интересная способность</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-2855"><h5>Господин Деньги</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Этот ГОСПОДИН является тверже любой валюты, его можно обменять на все что угодно</p></li>
        <p><h7><a style="color:red;">P.S.</a><i>Большое спасибо акционерному обществу Marshall, Carter, and Dark, Limited за то что согласились протестировать наш товар</i></h7></p></li>
    
        <li><p><a href="http://scp-ru.wikidot.com/scp-920"><h5>Господин Потерянный</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Кто я?</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-2284"><h5>Господин Ложь</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Будьте готовы к тому, что рядом с этим ГОСПОДИНОМ вы не услышите ни одного слова правды. Ни от него, ни от кого-либо</p></li>
        
        <li><p><a href="http://scp-ru.wikidot.com/scp-2428"><h5>Господин Безумец</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Формально, этот ГОСПОДИН не являюется человеком. И при взаимодейтсвии с ним, вы начнете сомневаться в своем психическом здоровье.</p></li>

        <li><p><a href="http://scp-ru.wikidot.com/scp-2933"><h5>Господин Жуть</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Его можно описать как "Человек и Пароход"</p></li>
        <p><h7><a style="color:red;">P.S.</a><i>Ни в коем случае не выводите его с нижних палуб. Во-первых он разочаруется, а во-вторых, давайте начистоту, эпидемия мутировавшего часового вируса никому не нужна</i></h7></p>

        <li><p><a href="http://scp-ru.wikidot.com/scp-2148"><h5>Господин Полосатый</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Давайте не будем об этом</p></li>

        <li><p><a href="http://scpfoundation.net/9-mr-clumsy"><h5>Господин Неуклюжий</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Патологически невезучий парень, найдет способ умереть буквально где угодно</p></li>

        <li><p><a href="http://scpfoundation.net/10-mr-mission"><h5>Господин Задание</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Крайне целеустремлен и непробиваем, если перед ним стоит задача, он выполнит ее любой ценной</p></li>

        <li><p><a href="http://scpfoundation.net/11-mr-feather"><h5>Господин Перо</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Хороший парень, жалко что неустойчивый. Легкий порыв ветро и все, его уже и след простыл</p></li>

        <li><p><a href="http://scpfoundation.net/13-mr-purple"><h5>Господин Фиолетовый</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Держитесь от него подальше, вот вам мой совет</p></li>

        <li><p><a href="http://scpfoundation.net/mr-clank"><h5>Господин Звяк</h5></a></p>
        <p>СТАТУС:<a style="color:red;">НАЙДЕН</a></p>
        <p>МЕСТОНАХОЖДЕНИЕ: SCP Foundation, Зона 13</p>
        <p>ОПИСАНИЕ: Не хочу о нем говорить</p></li>

    </ul>

    <a class="btn btn-outline-primary" href="/fin">СТАТУС ГОСПОДИНА КОЛЛЕКЦИОНЕРА</a>

</div>
{% endblock %}